*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 16px "Helvetica Neue", sans-serif;
    color: gray;
    overflow-x: hidden;
    padding-bottom: 50px;
}

/* INTRO */

.intro {
    padding: 100px 0;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

/* TIMELINE */

.timeline ul {
    margin-bottom: 0px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    height: 50vh;
    margin: 0 auto;
    padding-top: 0px 10px;
    bottom: auto;
    background: gray;
}


.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li>div {
    position: relative;
    top: 0;
    border-radius: 10px;
    width: 400px;
    margin-top: 0px;
    padding: 15px;
    background: #D6D6D6;
    color: rgb(0, 0, 0);
}

.timeline ul li>div p {
    color: rgb(0, 0, 0);
    margin-top: 15px;
}



.timeline ul li>div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd)>div {
    left: 45px;
}

.timeline ul li:nth-child(odd)>div::before {
    left: -15px;
    top: 10px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #D6D6D6 transparent transparent;
}

.timeline ul li:nth-child(even)>div {
    left: -439px;
}

.timeline ul li:nth-child(even)>div::before {
    right: -15px;
    top: 10px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #D6D6D6;
}

.timeline ul li>div h2 {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.image-wrapper {
    margin-top: 8px;
}

.image-wrapper img {
    width: 100%;
    border-radius: 10px;
}

/* EFFECTS */

.timeline ul li::after {
    transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: rgb(0, 0, 0);
    content: '\f004';
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
    0% {
        transform: translateX(-50%) scale(1)
    }

    50% {
        transform: translateX(-50%) scale(1.25);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}

.timeline ul li>div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd)>div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even)>div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view>div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

.timeline__progressbar {
    position: absolute;
    z-index: 1;
    transform: translateX(-50%);
    top: 265px;
    left: 50%;
    width: 6px;
    height: 100%;
    background-color: black;
}

/* GENERAL MEDIA QUERIES */

@media only screen and (max-width: 900px) {
    .timeline ul li>div {
        width: 250px;
    }

    .timeline ul li:nth-child(even)>div {
        left: -289px;
        /*250+45-6*/
    }
}

@media only screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li>div {
        width: calc(100vw - 91px);
    }

    .timeline ul li:nth-child(even)>div {
        left: 45px;
    }

    .timeline ul li:nth-child(even)>div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #D6D6D6 transparent transparent;
    }

    .timeline__progressbar {
        position: absolute;
        left: 23px;
        top: 265px;
        transform: translateX(-50%);
        width: 6px;
        height: 0;
        background: black;
        z-index: 1;
    }
}